.box {
	width: 200px;
	padding: 20px;
	margin: 10px;
	background-color: steelblue;
	color: white;
	text-align: center;
}

.box-one {
	opacity: 1;
}

.box-two {
	opacity: 0.6;
}

.box-three {
	opacity: 0.2;
}
